# Explore Data
- Then build book tree

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('goodreads_library_export.csv')

In [4]:
df.tail(2)

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Private Notes,Read Count,Recommended For,Recommended By,Owned Copies,Original Purchase Date,Original Purchase Location,Condition,Condition Description,BCID
1121,52036,Siddhartha,Hermann Hesse,"Hesse, Hermann",Hilda Rosner,"=""""","=""""",5,4.03,Bantam Books,...,NaN,1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1122,30659,Meditations,Marcus Aurelius,"Aurelius, Marcus","Martin Hammond, Albert Wittstock, Simone Mooij...","=""0140449337""","=""9780140449334""",4,4.22,Penguin Books,...,NaN,1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

In [5]:
print('Columns:', *df.columns, sep='\n- ')

Columns:
- Book Id
- Title
- Author
- Author l-f
- Additional Authors
- ISBN
- ISBN13
- My Rating
- Average Rating
- Publisher
- Binding
- Number of Pages
- Year Published
- Original Publication Year
- Date Read
- Date Added
- Bookshelves
- Bookshelves with positions
- Exclusive Shelf
- My Review
- Spoiler
- Private Notes
- Read Count
- Recommended For
- Recommended By
- Owned Copies
- Original Purchase Date
- Original Purchase Location
- Condition
- Condition Description
- BCID